h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}

ul,
ol,
dl {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background: rgb(22, 22, 22);
    background: radial-gradient(#08001f, #100142);

}

a {
    text-decoration: none;
}

.container {
    position: relative;
    display: flex;
    width: 800px;
    height: 800px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 474px;
    height: 525px;
    border: 1px solid white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px white;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}



.container::before {
    content: '';
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: rgb(136, 243, 249);
    ;
    /* border-radius: 5px; */
    position: absolute;
    /* rotate: 45deg; */
    left: 69px;
    top: 41px;
    z-index: -1;
}

.container::after {
    content: '';
    width: 230px;
    height: 230px;
    background: rgb(19, 235, 166);
    border-radius: 50%;
    position: absolute;
    right: 66px;
    bottom: 36px;
    z-index: -1;
}

.calendar-header {
    width: 98%;
    height: 15%;
    /* border-bottom: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    font-size: 20px;
}

.btn_wrapper {
    display: flex;
    align-items: center;

}

/* .month {
    margin-left: 4px;
    margin-right: 4px;
} */

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 32px;
    background-color: transparent;
    color: white;
}

button:hover {
    cursor: pointer;
}

table {

    border-spacing: 10px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
}

th {

    width: 48px;
    height: 48px;
    margin-right: 8px;

}

td {
    text-align: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;

}

/* td:hover {
    cursor: pointer;
    background-color: rgb(136, 243, 249);
    color: black;
} */

.over {
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: rgb(136, 243, 249);
    color: black;
}


.month {
    width: 100px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}

.currentDay {
    width: 100px;
}


.active {
    background-color: rgb(19, 235, 166);
    color: black;
}